/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*BODY*/

/*HEADER*/


.header{
    width: 100%;
	min-height: 10vh;
	margin: 0;
	padding: 0;
	background-color: #0b2a37;
	
}

.h1{
	height: 3em;
    text-align: center;
	margin: auto;
	color: aliceblue;
	font-family: Roboto;

	
}
.nav{
    background-color: #1d728e;
}
.nav .ul{
    display: flex;
    justify-content: center;
    
    
}

.ul a{
    padding: 0 2em;
	color: #a8bfc6;
	text-decoration: none;
	transition: 200ms all;
	font-family: Roboto;
	font-size: 1.2em;
}

.ul a:hover{
	color: aliceblue;
	text-shadow: 0 .3em #1d728e;
}

/* TABLA*/
main{
	min-height: 100vh;
	background-color: antiquewhite;
	font-family: Roboto;
}

.h2{
	text-align: center;
	color: #0b2a37;
	padding-top: 1em;
}

.tabla1{
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3em 0;
	border-collapse: collapse;

}
.tabla{
	border-collapse: collapse;
}
.cabecera_tabla{
	text-align: center;
	font-weight: bold;
	color: aliceblue;
}

td{
	border: 1px solid aliceblue;
	padding: .3em;
	background-color: #1d728e;
	
}

.cabecera_tabla td{
	background-color: #0b2a37;
}

.footer{
	background-color: #1d728e;
	min-height: 10vh;
	text-align: center;
	justify-content: center;
	font-family: Roboto;
}